# Possible values: local, staging, production, ci, testing, other
ENVIRONMENT=local

# The base URI that's used for all generated URIs
BASE_URI=http://aggregate.stitcher.io.test

# Setting to `false` force-disable internal caches.
INTERNAL_CACHES=true

# Enable or disable discovery cache. Can be `true`, `partial` or `false`.
DISCOVERY_CACHE=partial

# Overwrite default log paths (null = default)
DEBUG_LOG_PATH=null
SERVER_LOG_PATH=null

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://127.0.0.1:8000/auth/google

# Skip oauth during local development
AUTO_LOGIN=true

# Database
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_DATABASE=
