@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.add-link:hover .add-sign {
    display: none;
}

.add-link .add-label {
    display: none;
}

.add-link:hover .add-label {
    display: inline;
}

.tweet-text em {
    background-color: rgb(252, 249, 175);
}
