@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.add-link:hover .add-sign {
    display: none;
}

.add-link .add-label {
    display: none;
}

.add-link:hover .add-label {
    display: inline;
}

.word-break {
    word-break: break-word;
}

.tweet-text em {
    background-color: rgb(252, 249, 175);
}

.is-new-comment {
    box-shadow: 0 0 0 2px lightskyblue;
    background-color: aliceblue;
}

.has-new-comments {
    box-shadow: 0 0 0 2px lightskyblue;
    background-color: aliceblue;
    font-weight: bold;
}

.has-new-comments svg,
.has-new-comments span {
    color: black;
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.modal .popup {
    width: 40%;
    margin-bottom: 15%;
}
