@import "tailwindcss";

@source inline("bg-slate-{50,100,200,300,400}");
@source inline("bg-white");

.copy-uri {
    & > .icon-copy {
        display: inline-block;
    }

    & > .icon-copied {
        display: none;
    }

    &.copied {
        & > .icon-copy {
            display: none;
        }

        & > .icon-copied {
            display: inline-block;
        }
    }
}

.htmx-button {
    & .during-input {
        display: inline-block;
    }

    & .during-request {
        display: none;
    }
}

.htmx-button.htmx-request {
    & .during-input {
        display: none;
    }

    & .during-request {
        display: inline-block;
    }
}