.button {
    --button-color: #000;

    padding: .8em 1.1em .7em;
    border: 1px solid var(--button-color);
    color: var(--button-color);
    border-radius: 2px;
}

.button-active,
.button:hover {
    background-color: var(--button-color);
    color: #fff;
}

.button-small {
    padding: .5em .8em .4em;
}

.button-green {
    --button-color: var(--green);
}
