.button {
    padding: .8em 1.1em .7em;
    border: 1px solid #000;
    border-radius: 2px;
}

.button:hover {
    background-color: #000;
    color: #fff;
}

.button-small {
    padding: .5em .8em .4em;
}

.button-green {
    border-color: var(--green);
    color: var(--green);
}

.button-green:hover {
    background-color: var(--green);
}
