.add-vote-button {
    display: inline-block;
}

.voted-for .add-vote-button {
    display: none;
}

.delete-vote-button {
    display: none;
}

.voted-for .delete-vote-button {
    display: inline-block;
}

.heart-icon {
    fill: #8795a1;
}

.voted-for .heart-icon {
    fill: red;
}
