.table {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.table-truncate th,
.table-truncate td {
    @apply truncate;
}

.table tbody tr {
    border-top-width: 1px;
    @apply .border-grey-lighter;
}

.table td {
    padding-top: .5em;
    padding-bottom: .5em;
}

.table th {
    text-align: left;
    padding-top: .5em;
    padding-bottom: .5em;
    font-weight: bolder;
}

.table th.text-right {
    text-align: right;
}
