.table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.table-truncate th,
.table-truncate td {
    @apply truncate;
}

.table tbody tr {
    border-top-width: 1px;
    @apply .border-grey-lighter;
}

.table td {
    padding-top: .5em;
    padding-bottom: .5em;
}

.table.thin td {
    padding-top: .2em;
    padding-bottom: .2em;
}

.table.padding tr th:first-child,
.table.padding tr td:first-child {
    padding-left: .5em;
}

.table.padding tr th:last-child,
.table.padding tr td:last-child {
    padding-right: .5em;
}

.table th {
    text-align: left;
    padding-top: .5em;
    padding-bottom: .5em;
    font-weight: bolder;
}

.table th.text-right {
    text-align: right;
}
