.tag {
    @apply text-grey-darkest;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.tag:before {
    --size: 8px;

    content: '';
    width: var(--size);
    height: var(--size);
    margin-right: 0.4em;
    transform: translateY(-1px);
    display: inline-block;
    background-color: var(--tag-color);
    border-radius: 3px;
}
