.tag {
    @apply text-grey-darkest;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    --badge-size: 8px;
    --tag-color: #fff;
}

.tag:before {
    content: '';
    width: var(--badge-size);
    height: var(--badge-size);
    margin-right: 0.4em;
    transform: translateY(-1px);
    display: inline-block;
    background-color: var(--tag-color);
    border-radius: 4px;
}
