.tag {
    background-color: var(--tag-color);
    border-radius: 2px;
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 0.2em 0.5em 0.1em 0.5em;
    transform: translateY(-0.05em) skew(-15deg);
}

.tag-inner {
    display: inline-block;
    transform: skew(15deg);
}
